<!--<div class="FlexDisplay White Shadow-Navigation FlexRow" style="width:100%; ">
	<div class="FlexDisplay  FlexRow Shadow White" style="margin:0px 0px 1px 0px; width:100%; height:100%;">
		
		<div class='Menu FlexDisplay Divider-Right '>
			<ul class='Selection select--generic filter_gender' >
				<li data-selected='true' data-value='title'>Gender</li>
				<li data-value='male'  >Male</li>
				<li data-value='female'>Female</li>
				<li data-value='other' >Other</li>
			</ul>
		</div>		
		<div class='FlexDisplay Divider-Right '>
			<div style="cursor:default; color:gray; width:150px;">
				<input type="text" id="searchMessage" maxlength="14"  style="height:30px; font-weight:normal; font-size:16px; background:transparent; margin: 11px 0px 8px 16px; width:130px;" placeholder="Search">
			</div>
			<div id="searchBtn" class="FlexDisplay NonStandard Button Directional"><i class="mdi mdi-magnify" style="margin-top:16px;"></i></div>
		</div>
		
	</div>
</div>-->

<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox " style="width:100%; height:100%;">	
	<div class="scroll scroll2"  style="width:100%;  height:100%; overflow-y:auto;">
		<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Padding"  style="width:100%; height:100%; ">
			
			
			<div class="FlexDisplay FlexRow Shadow White Round" style="min-width:800px; width:100%; height:256px; margin:8px 0px 8px 0px;">
				<div class="FlexDisplay FlexColumn Divider-Right" style="min-width:200px; max-width:200px; height:100%;">
					<div class="FlexDisplay Flex FlexRow Divider-Bottom" style="width:100%; height:100%;">
						<div class="FlexDisplay Flex FlexRow Blue-Dark" style="margin:8px; padding:10px; overflow:hidden;">
							<canvas id="qr"></canvas>
						</div>
					</div>
					<div class="FlexDisplay FlexRow" style="width:100%; height:64px;">
						<span style="width:100%; height:100%; overflow:hidden; margin:10px 0px 0px 0px; position:relative;"><svg id="client_1" style="position:absolute; left:10px; top:-18px;"></svg></span>
					</div>
				</div>
				<div class="FlexDisplay Flex FlexColumn" style="width:100%; height:100%; overflow:hidden;">
					<div class="FlexDisplay Flex FlexRow Divider-Bottom" style="width:100%; height:100%;">
						<div class="FlexDisplay Flex FlexGrow-2 FlexColumn" >
							
							<div class="FlexDisplay FlexRow" style="width:100%; height:40px;">
								<div class="FlexDisplay FlexColumn" style="width:32px; height:100%;">
									<div style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">SEX</div>
									<div style="width:100%; min-height:36px; max-height:36px; font-weight:bolder; font-size:16px; margin:0px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">M</div>
								</div>
								<div class="FlexDisplay FlexColumn" style="width:24px; height:100%;">
									<div style="width:100%; font-weight:bolder; font-size:20px; margin:26px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey;">*</div>
								</div>
								<div class="FlexDisplay FlexColumn" style="width:32px; height:100%;">
									<div style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">AGE</div>
									<div style="width:100%; min-height:36px; max-height:36px; font-weight:bolder; font-size:16px; margin:0px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">32</div>
								</div>
								<div class="FlexDisplay FlexColumn" style="width:24px; height:100%;">
									<div style="width:100%; font-weight:bolder; font-size:20px; margin:26px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey;">*</div>
								</div>
								<div class="FlexDisplay FlexColumn" style="width:100%; height:100%;">
									<div style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">PHONE</div>
									<div style="width:100%; min-height:36px; max-height:36px; font-weight:bolder; font-size:16px; margin:0px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">(255)757735767</div>
								</div>
							</div>
							<div class="FlexDisplay FlexRow" style="width:100%; height:50px;">
								<div class="FlexDisplay FlexColumn" style="width:100%; height:40px;">
									<div style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">ID</div>
									<div style="width:100%; min-height:36px; max-height:36px; font-weight:bolder; font-size:25px; margin:0px 0px 0px 8px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">PFHUB01-1234562</div>
								</div>
							</div>
							<div class="FlexDisplay FlexRow" style="width:100%; height:60px;">
								<div class="FlexDisplay FlexColumn" style="width:100%; height:40px;">
									<div style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">ADDRESS</div>
									<div style="width:100%; font-weight:bolder; font-size:16px; margin:0px 0px 0px 8px;">P.O.Box 79375 Dar es Salaam</div>
								</div>
							</div>
						</div>
						<div class="FlexDisplay Flex FlexGrow FlexColumn Divider-Left" style="height:100%;">
							<div id="PatientChart" style="width:100%; height:300px; margin:50px 10px 10px 10px;"></div>
						</div>
					</div>
					<div class="FlexDisplay FlexColumn" style="width:100%; height:64px;">
						<div class="FlexDisplay" style="width:100%; min-height:10px; max-height:10px; font-weight:bolder; font-size:8px; margin:14px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1; color:grey; ">FULL NAME</div>
						<div class="FlexDisplay" style="width:100%; min-height:40px; max-height:40px; font-weight:bolder; font-size:24px; margin:0px 0px 0px 10px; position:relative; white-space: nowrap; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">FREDRICK LUSAKO MWASEKAGA</div>
					</div>
				</div>
				<div class="FlexDisplay FlexColumn Grayish-Light" style="min-width:64px; max-width:64px; height:100%;">
					<div class="FlexDisplay Flex FlexColumn Divider-Bottom" style="width:100%; height:100%;">
						<div  id="editBtn" class="FlexDisplay Flex FlexGrow FlexRow  Divider-Bottom" style="width:100%;">
							<div class="FlexDisplay Button NonStandard Dark" style="font-size:24px; width:100%; height: 100%;"><i class="mdi mdi-pencil" style="margin:18px 0px 0px 0px;"></i></div>
						</div>
						<div  id="testBtn" class="FlexDisplay Flex FlexGrow FlexRow  Divider-Bottom" style="width:100%;">
							<div class="FlexDisplay Button NonStandard Dark" style="font-size:24px; width:100%; height: 100%;"><i class="mdi mdi-test-tube" style="margin:18px 0px 0px 0px;"></i></div>
						</div>
						<div  id="printBtn" class="FlexDisplay Flex FlexGrow FlexRow" style="width:100%;">
							<div class="FlexDisplay Button NonStandard Dark" style="font-size:24px; width:100%; height: 100%;"><i class="mdi mdi-printer" style="margin:18px 0px 0px 0px;"></i></div>
						</div>
					</div>
					<div  id="deleteBtn" class="FlexDisplay FlexRow" style="width:100%; height:64px;">
						<div class="FlexDisplay Button NonStandard Dark" style="font-size:24px; width:100%; height: 100%;"><i class="mdi mdi-delete-sweep" style="margin:18px 0px 0px 0px;"></i></div>
					</div>
				</div>
			</div>
			
			
			
			
		</div>
	</div>	
</div>

<!-- jQuery -->
<script src="include/thirdparty/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="include/thirdparty/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ECharts -->
<script src="include/thirdparty/echarts/dist/echarts.js"></script>

<script src="scripts/JsBarcode.all.min.js"></script>
<script src="include/thirdparty/qrious/dist/qrious.js"></script>
<script>

var apiData = [];
var refreshAll = true;

function getInfo(tests,visits){
	var ChartData = [
		{ value: tests   , name: 'TESTS' }, 
		{ value: visits   , name: 'VISITS' }
	];

	var ExtraData = [];
	apiData["PATIENT"]= {"Extra" : ExtraData, "Data" : ChartData, "Labels":['TESTS', 'VISITS']};//, 'Total'
	InitChart('PatientChart', 'PATIENT');
}

function getChartLoaders(color){
	var spinner = '';
	spinner += '<div class="FlexDisplay"  style="width: 100%; height: 100%;">';
	spinner += '	<div class="spinner basic"  style="margin:auto; height:50px;">';
	spinner += '		<div class="rect1" style="background-color: '+color+';"></div>';
	spinner += '		<div class="rect2" style="background-color: '+color+';"></div>';
	spinner += '		<div class="rect3" style="background-color: '+color+';"></div>';
	spinner += '		<div class="rect4" style="background-color: '+color+';"></div>';
	spinner += '		<div class="rect5" style="background-color: '+color+';"></div>';
	spinner += '	</div>';
	spinner += '</div>';
	return spinner;
}

function ClearGraphs(){
	if(!$('#PatientChart').hasClass('IsEmpty'))
	{
		$('#PatientChart').html(getChartLoaders('#000000'));
		$('#PatientChart').addClass('IsEmpty');
	}	
	//if(!$('#ProfitChart').hasClass('IsEmpty'))
	//{
	//	$('#ProfitChart').html(getChartLoaders('#000000'));
	//	$('#ProfitChart').addClass('IsEmpty');
	//}
	//if(!$('#SalesChart').hasClass('IsEmpty'))
	//{
	//	$('#SalesChart').html(getChartLoaders('#000000'));
	//	$('#SalesChart').addClass('IsEmpty');
	//}	
}

function InitData(){
	apiData = [];
	apiData["PATIENT"]= {"Extra" : [], "Data" : [], "Labels":[]};
	//apiData["PROFIT"]= {"Extra" : [], "Data" : [], "Labels":[]};
	//apiData["SALES"]= {"Extra" : [], "Data" : [], "Labels":[]};
}

function InitGraphs(){
	//InitChart('BundlesChart', 'BUNDLES');
	//InitChart('ProfitChart' , 'PROFIT');
	InitChart('PatientChart'  , 'PATIENT');
}

function InitChart(item, dataName){
	var ChartData = apiData[dataName].Data;
	if(ChartData.length > 0)
	{
		try
		{
			//color: [ '#26B99A', '#34495E', '#BDC3C7', '#3498DB', '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7' ],
			var series = [];
			series.push({
				name: dataName,
				type:'pie',
				selectedMode: 'single',
				radius : ['35%', '55%'],
				center: ['50%', '40%'],						
				itemStyle: {
					normal: {
					  label: { show: true },
					  labelLine: { show: true }
					},
					emphasis: {
					  label: {
						show: true,
						position: 'center',
						textStyle: { fontSize: '14', fontWeight: 'normal' }
					  }
					}
				  },
				data:ChartData
			});
			
			var ExtraData = apiData[dataName].Extra;
			if(ExtraData.length > 0)
			{
				series.push({
					name: dataName,
					type:'pie',
					radius : ['0', '25%'],
					center: ['50%', '40%'],
					itemStyle : {
						normal : {
							label : {
								position : 'inner',
								show: true,
								textStyle: { fontSize: '14', fontWeight: 'normal' },
								//formatter: "{a} <br/>{b} : {c}"
							},
							labelLine : {
								show : false
							}
						}
					},
					data:ExtraData
				});
			}
			
			var chart = echarts.init(document.getElementById(item), {});	
			var opt = {
				color: ['#242424','#4b9be0','orange','#99cc00','#cc0000','#ff00ff'],
				tooltip : {
					trigger: 'item',
					formatter: "{a} <br/>{b} : {c}" // ({d}%)
				},
				legend: {
					x : 'center',
					y : 'bottom',
					data:apiData[dataName].Labels,
					show : false
				},
				toolbox: { show : false },
				calculable : false,
				series : series
			};
			chart.setOption(opt);
			
			//var c=document.getElementById(item).querySelector("canvas");
			//var ctx = $("#"+item).find('canvas')[0].getContext('2d');

			
			$("#"+item).removeClass('IsEmpty');
		}
		catch(ex){}
	}
}

function Refresh(){
	InitData();
	ClearGraphs();
	InitGraphs();
	
	getInfo(10,2);
	
	//GetChartData(function(total_600,total_800,total_1000,total_1500,total_6000,extra){
	//	getBundleInfo(total_600,total_800,total_1000,total_1500,total_6000,extra);
	//	getProfitInfo(total_600,total_800,total_1000,total_1500,total_6000,extra);
	//	getSalesInfo(total_600,total_800,total_1000,total_1500,total_6000,extra); 
	//});	
	//getActivity();
}

function onResize(){
	
}

function GoBackToRequestor(){
	var requestor = getParameterByName('requestor', pageQuery);
	if(requestor == "patients")
	{
		$("#menuSlider").css({"top":"112px"});
		LoadSubPage('patients', 'PATIENTS');
	}
}

$('#editBtn').off("click");
$('#editBtn').click(function(){
	GoBackToRequestor();
});

$('#testBtn').off("click");
$('#testBtn').click(function(){
	$("#menuSlider").css({"top":"168px"});
	LoadSubPage('tests/new', 'TEST - NEW', '?requestor=patients/details&tid=-1&pid='+id);
});

$('#printBtn').off("click");
$('#printBtn').click(function(){
	GoBackToRequestor();
});

$('#deleteBtn').off("click");
$('#deleteBtn').click(function(){
	GoBackToRequestor();
});

var id = getParameterByName('id', pageQuery);

$('#idField').html(id);

var id = "PFHUB01-1234562";

var qr = new QRious({
  element: document.getElementById('qr'),
  value: id,
  size: 160,
  backgroundAlpha: 0,
  foreground: 'white'
});

JsBarcode("#client_1", id, {
  background:"transparent",
  lineColor: "#000",
  width: 1,
  height: 64,
  displayValue: false,
  margin:0,
  marginTop:0					  
});

Refresh();
CloseTransition();
</script>