<div class="FlexDisplay Flex FlexRow scroll scroll2" style="width:100%; height:100%;">	
	<div class="FlexDisplay FlexColumn Blue-Light Animation-3ms OptionsBarMini" style=" background:#000000; z-index: 994160;">
		<!--<div tooltip="EQA" flow="right" class="FlexDisplay" style="pointer-events: none; background:#000000; border-bottom: 1px solid rgba(255,255,255,.1);">
			<div class="FlexDisplay Header" style="min-width:56px; max-width:56px; max-height: 56px; min-height: 56px; position:relative;">	
				<div style="margin: 0px 0px; padding:20px 0px 20px 16px; color:#c1c1c1;  font-size:14px;">B<span style="color:#536577; ">LIS</span></div>
			</div>
		</div>-->
		<div id="options" class="FlexDisplay Flex FlexColumn" style="width:100%; height: 100%; background:#000000;"></div>
	</div>
	<div id="innercontent" class="FlexDisplay Flex FlexGrow FlexColumn Overflow-Hidden Animation-3ms" style="min-width:264px;">
		<div class="FlexDisplay Grayish-Light Shadow-Navigation Header" style="width:100%; height: 56px; z-index:2; position:relative;">	
			<div id="PageSubTitle" class="item" style="margin: 0px 0px 0px 16px; padding:20px 0px; color:#c1c1c1; cursor:default;">Pro-Edition</div>
			<div style="position:absolute; right:0px; height:55px;"></div>
		</div>
		<div class="FlexDisplay Flex FlexColumn" style="width:100%; height:100%; position:relative;">
			<div id="subPageHolder" class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Grayish-Lighter" style="width:100%; ">	
				<div id="subPage" class="FlexDisplay Flex FlexColumn" style="width:100%; height: 100%;">	
				</div>
			</div>			
		</div>	
	</div>
</div>

<script>// scroll scroll2 rtl
var cancelInnerStream 	= false;
var currentInnerPage 	= null;
var innerLoadingTimer 	= null;
var innerPageAnimation 	= null;

function InnerNaviageTo(page){
	cancelInnerStream = true;
	if(currentInnerPage != page){
		currentInnerPage = page;
		clearTimeout(innerLoadingTimer);		
		if(app != undefined && innerPageAnimation == undefined || innerPageAnimation == null){
			innerPageAnimation = app.pageAnimation("#ececec","#000000","#000000");
			innerPageAnimation.el.style.position 	= "absolute";
			innerPageAnimation.el.style.zIndex		= "994159";
			$('#subPageHolder').append(innerPageAnimation.el);	
		}		
		innerPageAnimation.show(function(){
			innerPageAnimation.text("Loading : "+page);			
			innerLoadingTimer = setTimeout(function(){			
				cancelInnerStream = false;
				app.loader.get(page, {'Content-Type': 'application/x-www-form-urlencoded'},
					function(stream, bytesReceived, completed){
						console.log({Stream:stream, BytesReceived:bytesReceived, Completed:completed});
						if(cancelInnerStream == true && stream != undefined && stream != null){
							stream.cancel();
						}					
					})
					.then(page=>page.text())
					.then(page=>{
						if(cancelInnerStream == false){
							innerPageAnimation.text("");
							$("#subPage").html(page);
						}
					})
					.catch(error=>{
						innerPageAnimation.close(function(){
							innerPageAnimation.text("");
						});
						ShowErrorDialog(error);
					});
			}, 2000);
		});	
	}
}

function NavigationButton(icon, tooltip, flow){
	var button = document.createElement('div');
		button.className		= "FlexDisplay Button Options Dark Overflow-Show Animation-3ms";
		//button.style.zIndex		= "994160";
		button.setAttribute("tooltip", tooltip);
		button.setAttribute("flow", flow);
		
		var buttonContent = document.createElement('div');
			buttonContent.className = "FlexDisplay FlexRow";
			
			var buttonIcon = document.createElement('div');
				buttonIcon.className 	= "FlexDisplay";
				buttonIcon.style.margin	= "0px 0px 0px 20px";
				
				var i = document.createElement('div');
					i.className 	= "mdi "+icon;
					
	$(button).append(buttonContent);
	$(buttonContent).append(buttonIcon);
	$(buttonIcon).append(i);
	
	return button;
}

function AddOptionsClickHandler(icon, tooltip, flow, page, position){
	var btn = NavigationButton(icon, tooltip, flow);
	$("#options").append(btn);
	$(btn).off("click");
	$(btn).click(function(){
		$(menuSlider).css({"top":position+"px"}).delay(300).queue(function(){
			$( this ).dequeue();
			$("#PageSubTitle").html(tooltip);
			InnerNaviageTo(page, tooltip);		
		});
	});
}

var ButtonIndex = 0;
var signOutBtn 				= NavigationButton("mdi-power-settings", "Sign out", "right");
var menuSlider 				= document.createElement('div');
	menuSlider.className 	= "Slider Animation-3ms";
	menuSlider.style.width	= "4px";
	menuSlider.style.height	= "55px";
	menuSlider.style.top	= (56*(ButtonIndex))+"px";
	menuSlider.style.right	= "0px";
	
AddOptionsClickHandler("mdi-home"				, "Dashboard"		, "right"	, 'views/sub/dashboard.htm'	, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-hospital-building"	, "Facilities"		, "right"	, 'views/sub/facilities.htm', 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-account-multiple"	, "Patients"		, "right"	, 'views/sub/patients.htm'	, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-flask-outline"		, "Tests"			, "right"	, 'views/sub/tests.htm'		, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-file-chart"			, "Reports"			, "right"	, 'views/sub/reports.htm'	, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-archive"			, "Inventory"		, "right"	, 'views/sub/inventory.htm'	, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-desktop-classic"	, "Analysers"		, "right"	, 'views/sub/analysers.htm'	, 56*(ButtonIndex++));
AddOptionsClickHandler("mdi-settings"			, "Settings"		, "right"	, 'views/sub/settings.htm'	, 56*(ButtonIndex++));



$("#options").append(signOutBtn);
$("#options").append(menuSlider);

$(signOutBtn).off("click");
$(signOutBtn).click(function(){
	//close
});

$("#PageSubTitle").html("Dashboard");
InnerNaviageTo('views/sub/dashboard.htm', "Dashboard");
if(mainPageAnimation != undefined || mainPageAnimation != null){
	mainPageAnimation.close(function(){
		mainPageAnimation.text("");
	});
}

</script>