<div class="FlexDisplay FlexRow Animation-3ms Divider-Bottom" style="width:100%; height: 56px;">
	<div class="FlexDisplay Blue-Dark Header Banner" style="width:100%;  z-index:3;">
		<div id="MenuOptions" class="FlexDisplay FlexGrow Logo Button Animation-3ms Divider-Right" style="width:72px; height:56px;">
			<div style="margin: 0px 0px; padding:20px 0px 20px 2px; color:#c1c1c1;  font-size:18px;">B<span style="color:#536577; ">LIS</span></div>
		</div>
		<div id="PageTitle" class="item FlexDisplay FlexGrow" style="width:100%; margin: 0px 0px 0px 8px; padding:20px 0px; color:#c1c1c1; cursor:default;"></div>		
		<div id="MenuNavigator" class="FlexHidden Banner" style="height: 100%; z-index:3; position: relative;">						
			<div id="appsBtn" class="FlexDisplay FlexGrow NonStandard Menu Button Animation-3ms"><i class="mdi mdi-apps"></i></div>
		</div>
	</div>
</div>
<div id="SubPage" class="FlexDisplay Flex FlexRow" style="width:100%; height:100%;">	
	<div id="leftSide" class="FlexDisplay FlexColumn Blue-Light Overflow-Hidden Animation-3ms OptionsBarMini Opened">
		<div id="options" class="FlexDisplay Flex FlexColumn" style="width:100%; height: 100%; position:relative;  background:#000000;">
			<div id="option1" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-chart-areaspline"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Dashboard</span></div>
				</div>
			</div>
			<div id="option2" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-hospital-building"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Facilities</span></div>
				</div>
			</div>
			<div id="option3" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-account-multiple"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Patients</span></div>
				</div>
			</div>
			<div id="option4" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-flask-outline"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Tests</span></div>
				</div>
			</div>
			<div id="option5" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-file-chart"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Reports</span></div>
				</div>
			</div>
			<div id="option6" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-archive"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Inventory</span></div>
				</div>
			</div>
			<div id="option7" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-settings"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Settings</span></div>
				</div>
			</div>
			<div id="option8" class="FlexDisplay NonStandard Button Animation-3ms" style="width:100%; min-height: 55px; max-height: 55px;  overflow:hidden; border-bottom: 1px solid rgba(255,255,255,.05);">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 20px;"><i class="mdi mdi-power-settings"></i></div>
					<div class="FlexDisplay text Animation-3ms"><span>Sign out</span></div>
				</div>
			</div>
			<div id="menuSlider" class="ButtonSlider Animation-3ms"  style="width:4px; height: 55px; top:0px; right:0px;"></div>
		</div>
	</div>
	<div id="innercontent" class="FlexDisplay Flex FlexGrow FlexColumn Overflow-Hidden Animation-3ms" style="min-width:264px;">
		<div class="FlexDisplay Grayish-Light Shadow-Navigation Header" style="width:100%; height: 56px; z-index:2; position:relative;">	
			<div id="PageSubTitle" class="item" style="margin: 0px 0px 0px 16px; padding:20px 0px; color:#c1c1c1; cursor:default;">Pro-Edition</div>
			<div style="position:absolute; right:0px; height:55px;"></div>
		</div>
		<div class="FlexDisplay Flex FlexColumn" style="width:100%; height:100%; position:relative;">
			<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Grayish-Lighter" style="width:100%;">	
				<div id="subPage" class="FlexDisplay Flex FlexColumn" style="width:100%; height: 100%;">	
					
				</div>
				<div id="ipage" class="trans-2-open" style="width:100%; height:100%; z-index: 994159;">
					<div class="element Grayish-Lighter"></div>
					<div class="element Grayish-Lighter"></div>
					<div class="element Grayish-Lighter">
						<div id="iLoader" class="spinnerContainer FlexHidden FlexDisplay">	
							<div class="spinner FlexDisplay Flex FlexRow" style="width: 100%; height: 100%;">
							  <div class="rect1 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect2 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect3 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect4 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect5 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							</div>				
						</div>
					</div>
					<div class="element Grayish-Lighter"></div>
					<div class="element Grayish-Lighter"></div>
				</div>
			</div>			
		</div>	
	</div>
	<div id="rightSide" class="FlexDisplay FlexColumn Blue-Light Overflow-Hidden Animation-3ms AppsBar">
		<div id="downloads" class="FlexDisplay Flex FlexColumn" style="width:100%; height: 100%; position:relative;  background:#000000;">
			<div class="FlexDisplay Animation-3ms" style="width:100%; height: 55px; border-left: 1px solid rgba(0,0,0,.2);  border-bottom: 1px solid rgba(255,255,255,.05);"><!-- Grayish-Light-->
				<div class="FlexDisplay FlexGrow Animation-3ms">
					<div id="printerAppBtn" class="FlexDisplay Flex FlexGrow NonStandard Menu Button Animation-3ms" ><i class="mdi mdi-printer"></i></div>
					<div id="downloadAppBtn" class="FlexDisplay Flex FlexGrow NonStandard Menu Button Animation-3ms" ><i class="mdi mdi-download"></i></div>
					<div id="zipAppBtn" class="FlexDisplay Flex FlexGrow NonStandard Menu Button Animation-3ms" ><i class="mdi mdi-zip-box"></i></div>
					<div id="updateAppBtn" class="FlexDisplay Flex FlexGrow NonStandard Menu Button Animation-3ms" style=" font-size:20px;"><i class="mdi mdi-cloud-sync" style="margin-top:18px;"></i></div>
					<div id="refreshAppBtn" class="FlexDisplay Flex FlexGrow NonStandard Menu Button Animation-3ms" ><i class="mdi mdi-refresh"></i></div>
				</div>
			</div>
			<div id="appsBox"  class="scroll scroll2"  style="width:100%; overflow-y:auto; overflow-x:hidden;"></div>
		</div>
	</div>
</div>

<script>
var currentSubPage = null;
var loadingSubTimer = null;
var pageQuery = null;
var CanCloseTransition = true;

function AddOptionsClickHandler(item, page, pageTitle, position){
	item.off("click");
	item.click(function(){
		$("#menuSlider").css({"top":position+"px"}).delay(300).queue(function(){
			$( this ).dequeue();
			LoadSubPage(page, pageTitle);
		});
	});
}

$('#appsBtn').unbind( "click" );
$('#appsBtn').click(function() { 
	var AppsBar = $("#rightSide");
	if(AppsBar.hasClass('Opened'))
	{
		AppsBar.removeClass('Opened').delay(300).queue(function(){
			$( this ).dequeue();
			//window.dispatchEvent(new Event('resize'));
		});
	}
	else {
		AppsBar.addClass('Opened').delay(300).queue(function(){
			$( this ).dequeue();
			//window.dispatchEvent(new Event('resize'));
		});
	}
});	

$('#MenuOptions').off("click");
$('#MenuOptions').click(function(){
	var OptionsBar = $("#leftSide");
	if(OptionsBar.hasClass('Opened'))
	{
		OptionsBar.removeClass('Opened').delay(300).queue(function(){
			$( this ).dequeue();
			window.dispatchEvent(new Event('resize'));
		});
	}
	else {
		OptionsBar.addClass('Opened').delay(300).queue(function(){
			$( this ).dequeue();
			window.dispatchEvent(new Event('resize'));
		});
	}
});


function LoadSubPage(page, pageTitle, query){	
	if(currentSubPage != page) {
		CanCloseTransition = false;
		$("#PageSubTitle").html(pageTitle);
		currentSubPage = page;
		pageQuery = null;
		clearTimeout(loadingSubTimer);
		
		if(!$("#ipage").hasClass('trans-2-open') || !$("#ipage").hasClass('trans-2-out')) 
		{
			var trns = 'trans-'+$('body').attr('data-transition');
			$('#ipage').removeClass(trns+'-open');
			$('#ipage').removeClass(trns+'-out').css({'display': 'block'});
			$('#ipage').addClass(trns+'-in').delay(650).queue(function()
			{
				$( this ).dequeue();
				$('#iLoader').addClass("FlexDisplay");
			});
		}
		
		loadingSubTimer = setTimeout(function()
		{
			var loader = require('include/scripts/modules/loader.js');
			if(loader != undefined || loader != null){
				loader.get('views/sub/'+page+'.htm', function(response, error){
					loader = null;
					clearTimeout(loadingSubTimer);	
					if(error == null){
						response.text()
						.then(data => {		
							CanCloseTransition = true;				
							pageQuery = query;
							$("#subPage").html(data);
						});
					}
					else console.error(error);
				});	
			}
		}, 2000);
	}
	else if(query != null) {
		pageQuery = query;
		LoadApp();
	}
}

function CloseTransition(){
	if(CanCloseTransition) {
		var trns = 'trans-'+$('body').attr('data-transition');
		$('#iLoader').removeClass("FlexDisplay");
		$('#ipage').removeClass(trns+'-open');
		$('#ipage').removeClass(trns+'-out');
		$('#ipage').addClass(trns+'-out');
		setTimeout(function(){
			if(CanCloseTransition)
			{
				$('#ipage').css({'display': 'none'});
				$('.transparency').css({'display': 'none'});
			}
		},1000);
	}
}

function AttachResize(element, handleFunction){
	var lastWidth = element.width();
    var lastHeight = element.height();

    setInterval(function () {
        if (lastWidth === element.width()&&lastHeight === element.height()) return;
        if (typeof (handleFunction) == 'function') {
            handleFunction({ width: lastWidth, height: lastHeight }, { width: element.width(), height: element.height() });
            lastWidth = element.width();
            lastHeight = element.height();
        }
    }, 100);
}

AddOptionsClickHandler($('#option1'), 'dashboard'	, 'DASHBOARD'	, 0  );
AddOptionsClickHandler($('#option2'), 'facilities' 	, 'FACILITIES' 	, 56 );
AddOptionsClickHandler($('#option3'), 'patients' 	, 'PATIENTS' 	, 112);
AddOptionsClickHandler($('#option4'), 'tests'    	, 'TESTS'  		, 168);
AddOptionsClickHandler($('#option5'), 'reports'  	, 'REPORTS' 	, 224);
AddOptionsClickHandler($('#option6'), 'inventory' 	, 'INVENTORY' 	, 280);
AddOptionsClickHandler($('#option7'), 'settings' 	, 'SETTINGS' 	, 336);
AttachResize($('#innercontent'), function(){ onResize();  });


$('#option8').off("click");
$('#option8').click(function(){
	$( this ).dequeue();
	if(IsExposed() && !inIframe()) $('#overlayContent').addClass("Show");
	else
	{
		$('#overlayContent').removeClass("Show");
		LoadMainPage("login");
	}
});

$('#updateAppBtn').off("click");
$('#updateAppBtn').click(function(){
	try { 
		if(IsExposed())
		{ 
			Window.checkForUpdates();
			
			var AppsBar = $("#rightSide");
			if(AppsBar.hasClass('Opened'))
			{
				AppsBar.removeClass('Opened').delay(300).queue(function(){
					$( this ).dequeue();
				});
			}
		} 
		
	}
	catch(e){}	
});

$('#MenuNavigator').addClass("FlexDisplay");
LoadSubPage('dashboard', 'DASHBOARD'); 

</script>