<div id="Panels" class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Padding scroll scroll2" style="width:100%; height:100%; padding:8px;">	
	<div id="boxer" class="FlexDisplay Flex FlexColumn" style="width:100%; height:100%; ">	
		<div class="FlexDisplay FlexColumn  Shadow White Round" style="width:100%; height:100%;">
		
		</div>
	</div>
</div>

<script>
if(currentInnerPage == "views/sub/analysers.htm"){

	if(innerPageAnimation != undefined || innerPageAnimation != null){
		innerPageAnimation.close(function(){
			innerPageAnimation.text("");
		});
	}
}
</script>