<div class="FlexDisplay FlexRow" style="width:100%; height:100%;">
	<div id="TestsNavigator" class="FlexDisplay FlexRow Navigation Animation-3ms" style="height:100%; background:#4FC2E5;">
		<div class="FlexDisplay FlexColumn" style="width:100%; height:100%;  overflow:hidden;">
			<div class="FlexDisplay FlexColumn Flex scroll scroll2" style="display:block; width:100%; height:100%;">
				
			</div>
			<div class="FlexDisplay FlexColumn" style="width:100%; height:auto;">
				<div class="OkButton FlexDisplay NonStandard Button Directional Submit Round" class="trigger" style="margin:8px; min-width:190px; max-width:190px;"><span class="text" style="text-align:center; margin: 8px 0px 8px 0px;"><span style="display:block; margin: 0px 0px 0px 0px;">SAVE</span></span></div>
			</div>	
		</div>
		<div class="FlexDisplay FlexColumn White Shadow-Navigation" style="min-width:48px; max-width:48px; height:100%;">		
			<div id="newSection" tooltip="New Section" flow="right" class="FlexDisplay Button NonStandard Directional Overflow-Show Animation-3ms" style="border-bottom: 1px solid rgba(0,0,0,0.1); min-height: 55px; max-height: 55px;">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 12px;"><i class="mdi mdi-format-list-checks"></i></div>
				</div>
			</div>	
			<div id="newTest" tooltip="New Test" flow="right" class="FlexDisplay Button NonStandard Directional Overflow-Show Animation-3ms" style="border-bottom: 1px solid rgba(0,0,0,0.1); min-height: 55px; max-height: 55px;">
				<div class="FlexDisplay FlexRow">
					<div class="FlexDisplay" style="margin:0px 0px 0px 12px;"><i class="mdi mdi-test-tube"></i></div>
				</div>
			</div>	
		</div>
	</div>
	<div class="FlexDisplay FlexRow Shadow-Navigation" style="width:100%; height:100%;">
		<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Padding" style="width:100%; height:100%; padding-bottom:16px;">	
			<div id="boxer" class="FlexDisplay Flex FlexRow Shadow White Round" style="width:100%; height:100%;">
				<div id="innerBox" class="FlexDisplay FlexColumn" style="width:100%; height:100%;">
					<div class="FlexDisplay Divider-Bottom FlexRow" style="width:100%; min-height:40px; max-height:40px;">
						<div class="FlexDisplay Flex FlexRow" style="width:100%; height:100%;">
							
						</div>						
						<div id="viewList" class="FlexDisplay Button NonStandard Directional Selected" style="min-height:40px; max-height:40px;"><i class="mdi mdi-view-list" style="margin-top:10px; font-size:18px;"></i></div>
						<div id="viewGrid" class="FlexDisplay Button NonStandard Directional" style="min-height:40px; max-height:40px;"><i class="mdi mdi-view-module" style="margin-top:10px; font-size:18px;"></i></div>
					</div>
					<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox "  style="width:100%; height:100%; position:relative;">
						<div id="testListBox" class="scroll scroll2"  style="width:100%; overflow-y:auto;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
if(currentInnerPage == "views/sub/tests.htm"){

	$("#newSection").off("click");
	$("#newSection").click(function(){
		if($("#TestsNavigator").hasClass('Opened'))$("#TestsNavigator").removeClass('Opened');
		else $("#TestsNavigator").addClass('Opened');
	});
	
	$("#newTest").off("click");
	$("#newTest").click(function(){
		if($("#TestsNavigator").hasClass('Opened'))$("#TestsNavigator").removeClass('Opened');
		else $("#TestsNavigator").addClass('Opened');
	});
	
	$("#viewList").off("click");
	$("#viewList").click(function(){
		$("#viewGrid").removeClass('Selected');
		$("#viewList").addClass('Selected');
	});
	
	$("#viewGrid").off("click");
	$("#viewGrid").click(function(){
		$("#viewList").removeClass('Selected');
		$("#viewGrid").addClass('Selected');
	});

	if(innerPageAnimation != undefined || innerPageAnimation != null){
		innerPageAnimation.close(function(){
			innerPageAnimation.text("");
		});
	}
}
</script>