<div class="FlexDisplay White Shadow-Navigation FlexRow" style="width:100%; ">
	<div class="FlexDisplay  FlexRow Shadow White" style="margin:0px 0px 1px 0px; width:100%; height:100%;">		
		<div class='FlexDisplay Divider-Right '>
			<div style="cursor:default; color:gray; width:150px;">
				<input type="text" id="searchMessage" maxlength="14"  style="height:30px; font-weight:normal; font-size:16px; background:transparent; margin: 11px 0px 8px 16px; width:130px;" placeholder="Search">
			</div>
			<div id="searchBtn" class="FlexDisplay NonStandard Button Directional"><i class="mdi mdi-magnify" style="margin-top:12px;"></i></div>
		</div>
		
	</div>
</div>

<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox Padding" style="width:100%; height:100%; padding-bottom:16px;">	
	<div id="boxer" class="FlexDisplay Flex FlexRow Shadow White Round" style="width:100%; height:100%;">
				
		<div id="innerBox" class="FlexDisplay FlexColumn" style="width:100%; height:100%;">
			<div class="FlexDisplay FlexColumn"  style="width:100%; min-height: 30px; max-height: 30px;">
				<div class="FlexDisplay FlexRow Divider-Bottom Overflow-Hidden " style="width:100%; padding:0px;">
					<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; min-height: 30px; max-height: 30px; padding:12px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px;">STS</div>
					<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; min-height: 30px; max-height: 30px; padding:12px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px;">GPS</div>
					<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 30px; max-height: 30px; padding:12px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px;">ID</span></div>
					<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 30px; max-height: 30px; padding:12px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:9px;">LOCATION</span></div>
					<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 30px; max-height: 30px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="text-align:center; white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">REGION</span></div>
					<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 30px; max-height: 30px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">DISTRICT</span></div>
					<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; min-height: 30px; max-height: 30px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="text-align:center;  white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">COUNCIL</span></div>
					<div class="FlexDisplay" style="width:100%; min-height: 30px; max-height: 30px; overflow:hidden; padding:12px 8px 0px 8px; font-size:9px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1;">NAME</span></div>				
				</div>	
			</div>	
			<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox "  style="width:100%; height:100%; position:relative;">
				<div id="facilitiesListBox" class="scroll scroll2"  style="width:100%; overflow-y:auto;">
				</div>
				<div id="ipager" class="trans-2-open" style="width:100%; height:100%; z-index: 994159; position:absolute;">
					<div class="element White"></div>
					<div class="element White"></div>
					<div class="element White">
						<div id="iLoader2" class="spinnerContainer FlexHidden FlexDisplay">	
							<div class="spinner FlexDisplay Flex FlexRow" style="width: 100%; height: 100%;">
							  <div class="rect1 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect2 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect3 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect4 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							  <div class="rect5 FlexDisplay FlexGrow" style="background-color:#000000;"></div>
							</div>				
						</div>
					</div>
					<div class="element White"></div>
					<div class="element White"></div>
				</div>				
			</div>
			<div id="pagingBox" class="FlexDisplay Divider-Top FlexRow" style="width:100%; height:32px; padding-top:0px; margin-top:0px;"></div>
		</div>
		
			
	</div>
</div>

<script>
var pagerBusy = false;

function SelectedFacility(item, id){
	$(item).parent().children().each(function(){
		$(this).removeClass('Selected');
	});
	$(item).addClass('Selected');

	LoadSubPage('facilities/details', 'FACILITY - DETAILS', '?requestor=facilities&id='+id);
}

function SelectedItem(item){
	$(item).parent().children().each(function(){
		$(this).removeClass('Selected');
	});
	$(item).addClass('Selected');
}

function LoadFacilities(id, callback){
	var where = "where UPPER(LEFT(`FacilityName`, 1)) = '"+id+"' ";
	if(id == "0_9"){
		where = "where UPPER(LEFT(`FacilityName`, 1)) > '0' AND UPPER(LEFT(`FacilityName`, 1)) < '9' ";
	}
	
	var query  = "SELECT `ID`, `OtherID`, `FacilityNumber`, `FacilityName`, `CommonName`, `Zone`, `Region`, `District`, `Council`, `Ward`, `VillageStreet`, `FacilityType`, `OperatingStatus`, `Ownership`, `RegistrationNumber`, `Latitude`, `Longitude`, `Location`, `Source` ";
	query += "FROM `view_facilities` ";
	query += where;
	query += "order by `FacilityName` ";
	
	var SQL = require('include/scripts/modules/sql.js');
	SQL.query(query,'BLISMYSQLConnectionString','json',function (data, index, total){	
		if(index == total) 
		{
			SQL = null;
			
			if (data != null)
			{
				
				var items = '';					
				for(var x=0;x<data.length;x++)
				{
					var item = data[x];
					
					var statusType = "mdi-map-marker";
					var statusColor = "#01579B";
					
					if(item.Latitude == "")
					{
						statusType = "mdi-map-marker-off";
						statusColor = "red";
					}
					
					var operating = "mdi-help-circle";
					var operatingColor = "#4A148C";
					
					if(item.OperatingStatus == "Closed"){
						operating = "mdi-cancel";
						operatingColor = "red";
					}
					else if(item.OperatingStatus == "Closed (Temporary)"){
						operating = "mdi-alert-circle";
						operatingColor = "#FFD600";
					}
					else if(item.OperatingStatus == "Operating" || item.OperatingStatus == "Opert"){
						operating = "mdi-check-circle";
						operatingColor = "#669900";
					}
					else if(item.OperatingStatus == "Pending Operation - Under Construction" || item.OperatingStatus == "Pending Operation - Construction Complete"){
						operating = "mdi-clock-alert";
						operatingColor = "#C51162";
					}
			
					
					var facility = '<div id="'+item.ID+'" class="FlexDisplay FlexRow Divider-Bottom Overflow-Hidden CheckBoxBold" style="width:100%; min-width:100%; min-height: 28px; max-height: 28px;" onclick="SelectedFacility(this, \''+item.ID+'\')">'; 
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; height:100%; padding:6px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; color:'+operatingColor+';"><i class="mdi '+operating+'"></i></span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:32px; max-width:32px; height:100%; padding:6px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; color:'+statusColor+';"><i class="mdi '+statusType+'"></i></span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; height:100%; padding:8px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:11px;">'+item.FacilityNumber+'</span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; height:100%; padding:8px 0px 0px 0px;"><span style="text-align:center; display:inline-block; width:100%; font-size:11px;">'+item.Location+'</span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+item.Region+'</span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+item.District+'</span></div>';
						facility += '	<div class="FlexDisplay Divider-Right" style="min-width:100px; max-width:100px; width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+item.Council+'</span></div>';
						facility += '	<div class="FlexDisplay" style="width:100%; height:100%; overflow:hidden; padding:8px 8px 0px 8px; font-size:11px;"><span style="white-space: nowrap; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; line-height:1.3;">'+item.FacilityName+'</span></div>';						
						facility += '</div>';
						items += facility;
				}				
				$('#facilitiesListBox').html(items);
				
				var trns = 'trans-'+$('body').attr('data-transition');
				$('#iLoader2').removeClass("FlexDisplay");
				$('#ipager').removeClass(trns+'-open');
				$('#ipager').removeClass(trns+'-out');
				$('#ipager').addClass(trns+'-out');
				setTimeout(function(){
					if(pagerBusy)
					{
						$('#ipager').css({'display': 'none'});
						$('.transparency').css({'display': 'none'});
					}
					if (callback != undefined && typeof(callback) === "function")callback(); 
				},1000);	
			}
			else if (callback != undefined && typeof(callback) === "function")callback(); 
		}
	});	
}


function CreatePaging(){
	$("#pagingBox").html('');
	
	var pages = '';
	pages += '<div id="PageOptions" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow NonStandard Button Pager" style="min-width:32px; max-width:32px; height:32px;">';
	pages += '	<i style="font-size:20px; margin:6px 0px 0px 0px;" class="mdi mdi-dots-vertical"></i>';
	pages += '</div>';	
	pages += '<div id="Page_0_9" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow NonStandard Button Pager Divider-Left Selected" style="height:32px;">';
	pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:6px 0px 0px 0px;">0-9</span>';
	pages += '</div>';
	
	var selected = "Selected";
	for(x=65;x<65+26;x++)
	{
		var c = String.fromCharCode(x);
		pages += '<div id="Page_'+c+'" class="Animation-3ms FlexDisplay Flex FlexGrow FlexRow NonStandard Button Pager Divider-Left Disabled" style="height:32px;">';
		pages += '	<span class="text" style="text-align:center; display:inline-block; width:100%; font-size:11px; margin:6px 0px 0px 0px;">'+c+'</span>';
		pages += '</div>';
	}
	$("#pagingBox").html(pages);
	
	$('#PageOptions').off("click");
	$('#PageOptions').click(function(){
		if(pagerBusy == false && !$(this).hasClass('Disabled')){
			//pagerBusy = true;
			
		}
	});
	
	var SQL = require('include/scripts/modules/sql.js');
	if(SQL != undefined || SQL != null){
		var query = "SELECT distinct UPPER(IF(LEFT(`FacilityName`, 1) REGEXP '^-?[a-zA-Z]+$',LEFT(`FacilityName`, 1),'0_9')) `Page` FROM `view_facilities` order by LEFT(`FacilityName`, 1)";
		SQL.query(query,'BLISMYSQLConnectionString','json',function (data, index, total){	
			if(index == total) 
			{
				SQL = null;
				if (data != null)
				{
					
					for(var x=0; x<data.length; x++){
						var id = data[x].Page;
						
						$('#Page_'+id).removeClass('Disabled');						
						$('#Page_'+id).off("click");
						$('#Page_'+id).click(function(){
							if(pagerBusy == false && !$(this).hasClass('Disabled')){
								pagerBusy = true;
								$("#pagingBox").find('.Pager').each(function(){
									$(this).removeClass('Selected');
								});
								$(this).addClass('Selected');
								
								
								
								if(!$("#ipager").hasClass('trans-2-open') || !$("#ipage").hasClass('trans-2-out')) 
								{
									var trns = 'trans-'+$('body').attr('data-transition');
									$('#ipager').removeClass(trns+'-open');
									$('#ipager').removeClass(trns+'-out').css({'display': 'block'});
									$('#ipager').addClass(trns+'-in').delay(650).queue(function()
									{
										$( this ).dequeue();
										$('#iLoader2').addClass("FlexDisplay");
										$('#facilitiesListBox').html('');
									});
								}
								
								var _id = $(this).attr('id').replace('Page_','');
								setTimeout(function(){
									LoadFacilities(_id, function(){
										pagerBusy = false;
									});
								}, 1000);
								
								
								
							}
						});
					}
				}
			}
		});	
	}
	
	pagerBusy = true;
	LoadFacilities("0_9",function(){
		pagerBusy = false;
	});
	CloseTransition();
}

function onResize(){
	var wpx = $("#boxer").css("width").replace(/px/g,'');
	var hpx = $("#content").css("height").replace(/px/g,'')-125;
	$('#innerBox').css({"width":wpx+"px","max-height":hpx+"px"});
}
onResize();
CreatePaging();
</script>