<div class="FlexDisplay Flex FlexColumn FlexBoxSizing-BorderBox" style="width:100%;  padding:16px;">	
	<div class="FlexDisplay FlexColumn" style="width:100%; height:auto;">	
	
		
		<div class="FlexDisplay  FlexColumn Animation-3ms" style="width:100%;">
			<div class="FlexDisplay FlexRow Animation-3ms" style="width:100%; height:150px; margin-top:0px;">
				
				<!--<div class="FlexDisplay  White Shadow  FlexGrow FlexColumn Round" style="width:100%; height: 100%;">
					<div class="DashInnerItem FlexDisplay FlexRow Divider-Bottom" style="width:100%; height:32px; color:#616161;">
						<div id='HubHeader'class="FlexDisplay Header" style="width:16px; height:100%; padding:8px 0px 0px 8px;">
							<i class="mdi mdi-cellphone-android"></i>
						</div>
						<div class="FlexDisplay Header" style="width:100%; height:100%; padding:8px 0px 0px 8px;">
							<span style="white-space: nowrap; ">EXPORT / DELETE SMS</span>
						</div>
						<div class="FlexDisplay Flex FlexGrow  Header" style="margin-left:8px; height:100%; font-size:10px; padding:0px;">
							<div id="switchDevice" class="FlexDisplay HoverForegroundOnly Button Directional Animation-3ms" style="width:24px;"><i class="mdi mdi-toggle-switch-off" style="margin-top:6px;"></i></div>
							<div id="prevExport" class="FlexDisplay HoverForegroundOnly Button Directional Animation-3ms" style="width:24px;"><i class="mdi mdi-chevron-left" style="margin-top:6px;"></i></div>
							<div id="nextExport" class="FlexDisplay HoverForegroundOnly Button Directional Animation-3ms" style="width:24px;"><i class="mdi mdi-chevron-right" style="margin-top:6px;"></i></div>
						</div>
					</div>	
					<div class="DashInnerItem FlexDisplay Flex FlexColumn Divider-Bottom" style="width:100%; height:100%; color:#616161;">
						<div class="FlexDisplay Header" style="font-size:32px; width:auto; height:100%; margin:auto; padding:24px 0px 0px 8px;">
							<span id="ExportInfo">RECEIVER</span>
						</div>
						<div class="FlexDisplay Header" style="font-size:10px; width:auto; height:100%; margin:auto; padding:12px 0px 0px 8px;">
							<span id="ExportInfoStorage">...</span>
						</div>
					</div>
					<div class="DashInnerItem FlexDisplay FlexRow" style="width:100%; height:32px;">
						<div id='downloadExport' class="FlexDisplay FlexGrow DashButton Animation-3ms" >
							<div class="FlexDisplay Header innerItem" style="width:auto; height:100%; margin:auto; padding:0px 0px 0px 8px;">
								<i class="mdi mdi-download" style="margin-top:8px;"></i>
							</div>
						</div>
						<div id='deleteExport' class="FlexDisplay FlexGrow DashButton Animation-3ms">
							<div class="FlexDisplay Header innerItem" style="width:auto; height:100%; margin:auto; padding:0px 0px 0px 8px;">
								<i class="mdi mdi-delete-variant" style="margin-top:8px;"></i>
							</div>
						</div>
					</div>		
				</div> margin-left:8px;-->
				
				<div class="FlexDisplay FlexGrow White Shadow FlexColumn Animation-3ms Round" style="width:100%; height: 100%;">
					<div class="DashInnerItem FlexDisplay FlexRow Divider-Bottom" style="width:100%; height:32px; color:#616161;">
						<div id='LabHeader' class="FlexDisplay Header" style="width:16px; height:100%; padding:8px 0px 0px 8px;">
							<i class="mdi mdi-server"></i>
						</div>
						<div class="FlexDisplay Header" style="width:100%; height:100%; padding:8px 0px 0px 8px;">
							<span  style="white-space: nowrap; ">BACKUP</span>
						</div>
						<div class="FlexDisplay Flex FlexGrow  Header" style="margin-left:8px; height:100%; font-size:10px; padding:0px;">
							<!--<div id="prevProfit" class="FlexDisplay NonStandard Button Directional " style="width:24px;"><i class="mdi mdi-chevron-left" style="margin-top:6px;"></i></div>
							<div id="nextProfit" class="FlexDisplay NonStandard Button Directional " style="width:24px;"><i class="mdi mdi-chevron-right" style="margin-top:6px;"></i></div>-->
						</div>
					</div>
					<div class="DashInnerItem FlexDisplay Flex FlexRow Divider-Bottom" style="width:100%; height:100%; color:#616161;">
						<div class="FlexDisplay Header" style="font-size:32px; width:auto; height:100%; margin:auto; padding:24px 0px 0px 8px;">
							<span id="profitInfo">DATABASE</span>
						</div>
					</div>
					<div class="DashInnerItem FlexDisplay FlexRow" style="width:100%; height:32px;">
						<div  id='backupDB' class="FlexDisplay FlexGrow DashButton Animation-3ms" >
							<div class="FlexDisplay Header innerItem" style="width:auto; height:100%; margin:auto; padding:0px 0px 0px 8px;">
								<i class="mdi mdi-zip-box" style="margin-top:8px;"></i>
							</div>
						</div>
						<div  id='restoreDB' class="FlexDisplay FlexGrow DashButton Animation-3ms">
							<div class="FlexDisplay Header  innerItem" style="width:auto; height:100%; margin:auto; padding:0px 0px 0px 8px;">
								<i class="mdi mdi-backup-restore" style="margin-top:8px;"></i>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	
	</div>
</div>

<script>
var currentStorage = 0;
var storages = ["SM","ME","MT","SR"];
var isExportBusy = false;
var isBackingUp = false;
var isRestoring = false;
var DBConnectionString = "BESMYSQLConnectionString";

function SelectedDate(cal, selected){
	//console.log(selected);
}

function getMiniLoaders(color){
	var spinner = '';
	spinner += '<div class="spinner basic" style="margin-top:6px;">';
	spinner += '  <div class="rect1" style="background-color: '+color+';"></div>';
	spinner += '  <div class="rect2" style="background-color: '+color+';"></div>';
	spinner += '  <div class="rect3" style="background-color: '+color+';"></div>';
	spinner += '  <div class="rect4" style="background-color: '+color+';"></div>';
	spinner += '  <div class="rect5" style="background-color: '+color+';"></div>';
	spinner += '</div>';
	return spinner;
}

//function GetStorages(){
//	var device = $('#ExportInfo').text();
//	$('#ExportInfoStorage').html(getMiniLoaders('#616161'));
//	
//	currentStorage = 0;
//	if(storages.length>0)$('#ExportInfoStorage').html(storages[currentStorage]);
//	
//	//var query  = 'device='+device;	
//	//	query += '&storage=read';	
//	//_ExportInfoHandler = LoadPage('settings/storages?'+query,function(html) 
//	//{
//	//	_ExportInfoHandler = null;
//	//	var data = JSON.parse(html);
//	//	if(data != undefined)
//	//	{
//	//		storages = [];
//	//		currentStorage = 0;
//	//		for(ii=0;ii<data.length;ii++)storages.push(data[ii]);
//	//		if(data.length>0)$('#ExportInfoStorage').html(data[currentStorage]);
//	//	}
//	//});
//}
//
//$('#switchDevice').unbind( "click" );
//$('#switchDevice').click(function() { 
//	
//	if(_ExportInfoHandler != null || _ExportInfoHandler != undefined)_ExportInfoHandler.abort();
//	if($('#ExportInfo').text() == "RECEIVER")
//	{
//		$('#ExportInfo').html("SENDER");
//		$('#switchDevice').find(".mdi").removeClass("mdi-toggle-switch-off");
//		$('#switchDevice').find(".mdi").addClass("mdi-toggle-switch");
//	}
//	else if($('#ExportInfo').text() == "SENDER")
//	{
//		$('#ExportInfo').html("RECEIVER");
//		$('#switchDevice').find(".mdi").removeClass("mdi-toggle-switch");
//		$('#switchDevice').find(".mdi").addClass("mdi-toggle-switch-off");
//	}
//	GetStorages();
//});

//$('#prevExport').unbind( "click" );
//$('#prevExport').click(function() { 
//	if(storages.length>0 && currentStorage>0)
//	{
//		currentStorage--;
//		$('#ExportInfoStorage').html(storages[currentStorage]);
//	}
//});
//
//$('#nextExport').unbind( "click" );
//$('#nextExport').click(function() { 
//	if(storages.length>0 && currentStorage+1<storages.length)
//	{
//		currentStorage++;
//		$('#ExportInfoStorage').html(storages[currentStorage]);
//	}
//});
//
//$('#downloadExport').unbind( "click" );
//$('#downloadExport').click(function() { 
//	if(isExportBusy == false)
//	{
//		isExportBusy = true;
//		$('#downloadExport').find('.innerItem').html(getLoaders('#616161'));
//		var query  = 'device='+$('#ExportInfo').text();
//			query += '&storage='+$('#ExportInfoStorage').text();
//		_ExportInfoHandler = LoadPage('export/download?'+query,function(html) 
//		{
//			_ExportInfoHandler = null;
//			var data = JSON.parse(html);
//			if(data != undefined)
//			{
//				isExportBusy = false;
//				$('#downloadExport').find('.innerItem').html('<i class="mdi mdi-download" style="margin-top:8px;"></i>');
//			}
//		});
//	}
//});
//
//$('#deleteExport').unbind( "click" );
//$('#deleteExport').click(function() { 
//	if(isExportBusy == false)
//	{
//		isExportBusy = true;
//		$('#downloadExport').find('.innerItem').html(getLoaders('#616161'));
//		
//		var query  = 'device='+$('#ExportInfo').text();
//			query += '&storage='+$('#ExportInfoStorage').text();
//		_ExportInfoHandler = LoadPage('export/delete?'+query,function(html) 
//		{
//			_ExportInfoHandler = null;
//			var data = JSON.parse(html);
//			if(data != undefined)
//			{
//				isExportBusy = false;
//				$('#downloadExport').find('.innerItem').html('<i class="mdi mdi-delete-variant" style="margin-top:8px;"></i>');
//			}
//		});
//	}
//});

$('#backupDB').unbind( "click" );
$('#backupDB').click(function() { 
	if(isBackingUp == false)
	{
		//isBackingUp = true;
		//$('#backupDB').find('.innerItem').html(getMiniLoaders('#616161'));
		//_ExportInfoHandler = LoadPage('database/backup',function(html) 
		//{
		//	_ExportInfoHandler = null;
		//	var data = JSON.parse(html);
		//	if(data != undefined)
		//	{
		//		isBackingUp = false;
		//		$('#backupDB').find('.innerItem').html('<i class="mdi mdi-zip-box" style="margin-top:8px;"></i>');
		//	}
		//});
	}
});

$('#restoreDB').unbind( "click" );
$('#restoreDB').click(function() { 
	if(isRestoring == false)
	{
		//isRestoring = true;
		//$('#restoreDB').find('.innerItem').html(getMiniLoaders('#616161'));
		//_ExportInfoHandler = LoadPage('database/restore',function(html) 
		//{
		//	_ExportInfoHandler = null;
		//	var data = JSON.parse(html);
		//	if(data != undefined)
		//	{
		//		isRestoring = false;
		//		$('#restoreDB').find('.innerItem').html('<i class="mdi mdi-backup-restore" style="margin-top:8px;"></i>');
		//	}
		//});
	}
});

//GetStorages();
CloseTransition();
</script>